.centered-content {
  position: absolute; /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
  overflow: inherit;
}

.card-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.plan-card {
  cursor: pointer;
}
