<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" name="resetForm" [formGroup]="resetForm" (submit)="resetPassword()">
            <div class="text-center">
              <img src="assets/images/auth/Logomca.png" width="157" height="67" alt="MCA">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Recupere su password</h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-right">Volver al<a [routerLink]="['']"> Login.</a></p>
              <div class="input-group" >

                <input type="password" class="form-control" placeholder="constraseña" id="newpassword" formControlName="newpassword"   required />
                

              </div>
              <div class="input-group" >

                <input type="password" class="form-control" placeholder="confirmacion contraseña" id="passwordconfirm" formControlName="passwordconfirm" required />  
               

              </div>
              
              <div class="row">
                <div class="col-md-12">

                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                     Cambiar contraseña </button>

                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Gracias por utilizar el sistema de adherencia</p>
                  <p class="text-inverse text-left"><b>MCA latam</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/logosmall.png" width="27" height="27"  alt="Mca Latam">
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
